[req]
default_bits = 4096
default_md = sha256
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = RU                  # Country (Russia)
ST = Moscow             # State (Moscow)
L = Moscow              # Locality (Moscow)
O = MDMLab              # Organization Name
OU = IT Department      # Organizational Unit
CN = server.mdmlab.ru   # Common Name (Domain or IP)

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = server.mdmlab.ru
IP.1 = 176.119.157.39   # Replace with your server IP
